.hmm-graph{
    grid-area: hmm-graph;

}
.seec-analysis{
    grid-area:seec-analysis;
    justify-content: center;
}
.seec-button, .seec-unavailable{
    background-color: rgb(223, 223, 223);
    color: rgb(24, 24, 24);
    border-radius: 8px;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: ease 0.2s;
    margin: 5px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px rgba(0,0,0,.2);
}
.seec-unavailable{
    background-color: rgba(95, 95, 95, 0.246);
    color: rgba(97, 97, 97, 0.465);
    cursor: not-allowed;
}
.seec-button:hover{
    color: white;
    background-color: black;
}