.tile-link {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

.tile {
  width: 250px;
  height: 300px;
  perspective: 1000px;
  margin: 15px;
  cursor: pointer;
  display: block;
}

.tile-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tile-link:hover .tile-inner {
  transform: rotateY(180deg);
}

.tile-front,
.tile-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}

.tile-front {
  background-color: #fff;
  z-index: 10;
}

.tile-image {
  max-width: 100%;
  height: 100%;
  object-fit: contain;
  margin-bottom: 15px;
  align-items: center;
  justify-content: center;
}

.tile-title {
  font-size: 1.25rem;
  color: #333;
  text-align: center;
}

.tile-back {
  background-color: #f0f0f0;
  color: #333;
  transform: rotateY(180deg);
  font-size: 1rem;
  text-align: center;
  z-index: 1;
}

.tile-structure{
  display: grid;
  grid-template-areas: "tile-structure-image"
                      "tile-structure-text";
  grid-template-rows: 3fr 1fr;
}
