
.hover-menu-wrapper {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  font-size: 24px;
  cursor: pointer;
  padding: 5px 39px;
  border-radius: 4px;
  background-color: #1f1f1f;
  color: white;
}

.hover-menu-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: transparent;
  border-radius: 4px;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  width: 100px;
  z-index: 1000;
  font-size: 10px;
  font-weight: bold;
}

.hover-menu-link {
  padding: 10px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: background-color 0.2s;
  border-radius: 4px;
  margin-bottom: 1px;
  background-color: #e87500;
}

.hover-menu-link:hover {
  background-color: #f5e6d0;
  color: #1f1f1f;
}