*{
  box-sizing: border-box;
  margin:0px;
}
.App { text-align: center; min-height: 100vh; display: flex; flex-direction: column; font-family: Helvetica, Arial, sans-serif; color: #1f1f1f} 
.app-header { 
  background-color: #e87500; 
  margin-top: 30px;
  color: rgba(50, 50, 50, 0.836);
  color: #1f1f1f	;
  position: fixed; 
  width: 100%;  
  height: 80px;
  z-index: 1000; 
} 
.container{
  display: grid; 
  grid-template-areas: "grid-title grid-buttons";
  grid-template-columns: 1fr 1fr; 
  padding: 10px;
}
.grid-title {
  grid-area: grid-title; 
  display: flex; 
  align-items: center; 
}
.grid-buttons {
  grid-area: grid-buttons; 
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 20px;
}

.header-title {font-size: 20px; font-weight: bold; } 
nav ul { list-style-type: none; padding: 0; } 
nav li { display: inline; margin: 0 15px; font-weight: 600; cursor: pointer; } 
nav li.bold { font-weight: bold; } 
main { flex: 1; padding: 20px; margin-top: 30px;} 
.web-servers { text-align: left; margin-top: 0px;}   
.web-servers h2 { margin-top: 0; } 
.web-servers hr { border: 1px solid #1f1f1f; } 
.server-cards { display: flex; gap: 20px; flex-wrap: wrap; justify-content: center; margin-top: 30px;} 
.pretty-footer {
  background-color: #fdf7f3;
  border-top: 1px solid #e0e0e0;
  padding: 20px 40px;
  font-size: 14px;
  color: #333;
  display: flex;
  justify-content: center;
}

.footer-content {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-left a,
.footer-center a {
  text-decoration: none;
  color: #666;
}

.footer-center {
  margin: 10px 0;
}

.footer-right img {
  height: 40px;
  margin-left: 20px;
  transition: transform 0.2s ease;
}

.footer-right img:hover {
  transform: scale(1.1);
}

.utd-logo { width: 150px; height: auto; } 
.nsf-logo{width: 80px; padding-left: 20px;}
@media (min-width: 600px) { .footer-content { flex-direction: row; justify-content: space-between; width: 100%; } } 
a { text-decoration: none; color: inherit; } 
.hide-header-footer { display: none; } 

